@page "/databingingdemo"
<h1>Data Binding Demo</h1>
<br />
<h3>One Way Data Binding</h3>
<div>
    <b>Name :</b> @Name
</div>
<br />
<div>
    <b>Name with Condition</b> @(Gender == "Male"? $"Mr. {Name}" : $"Mss.{Name}")
</div>
<br />
<div>
    <b>Name:</b> <input  value="@Name" />
</div>
<hr />

<h3>Two Way Data Binding</h3>
<div>
    <b>Name :</b> <input value="@Name" @onchange="@(e=> { Name = e.Value.ToString(); })" />
</div>
<br />
<div>
    <b>Name:</b> <input @bind="Name"/>
</div>
<br />
<div>
    <b>Name:</b> <input @bind="Name" @bind:event="oninput" />
</div>
<br />
<hr />

<b>Colour :</b> <input @bind="Colour" />
<br />
<div @bind-style="Colour" @bind-style:event="onchange">
    <h3>The background colour of this text changes</h3>
</div>



@code {
    protected string Name { get; set; } = "Sayed";
    protected string Gender { get; set; } = "Male";
    protected string Colour { get; set; } = "background-color:white";
}
