<h3 style="@ElementStyle; @H1Border"> --GrandChildComponent - @Count</h3>

@code {

    [CascadingParameter(Name = "FontStyle")]
    public string ElementStyle { get; set; }

    [CascadingParameter(Name = "BorderStyle")]
    public string H1Border { get; set; }

    [CascadingParameter(Name = "Count")]
    public int Count { get; set; }
}
